spring:
  application:
    name: afiliado-service-hexagonal
  
  datasource:
    url: jdbc:h2:mem:afiliadodb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

validacion:
  service:
    url: http://localhost:8084

notification:
  email:
    from: noreply@mutualidad.com
    enabled: false

logging:
  level:
    com.mutualidad: DEBUG
