server:
  port: 8081

spring:
  application:
    name: afiliado-service
  
  datasource:
    url: jdbc:h2:mem:afiliadodb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  h2:
    console:
      enabled: true
      path: /h2-console

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.mutualidad: DEBUG
    org.springframework.web: INFO
