server:
  port: 8082

spring:
  application:
    name: beneficio-service
  datasource:
    url: jdbc:h2:mem:beneficiodb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.mutualidad: DEBUG
