# Configuracion base - valores por defecto

replicaCount: 1

image:
  repository: ricardoahumada/notificacion-service
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8082

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

kafka:
  bootstrapServers: kafka:9092
  groupId: notificacion-group

env:
  SPRING_PROFILES_ACTIVE: kubernetes

livenessProbe:
  path: /actuator/health/liveness
  initialDelaySeconds: 60
  periodSeconds: 10

readinessProbe:
  path: /actuator/health/readiness
  initialDelaySeconds: 10
  periodSeconds: 5

# Ingress (Minikube/Kubernetes)
ingress:
  enabled: false
  className: nginx
  annotations: {}
  hosts:
    - host: notificacion.mutualidad.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

# Route (OpenShift)
route:
  enabled: false
  host: ""
  tls:
    enabled: false
    termination: edge

# HPA
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
