# Configuracion para entorno PROD (OpenShift)

replicaCount: 2

image:
  repository: ricardoahumada/notificacion-service
  tag: "1.0.0"
  pullPolicy: Always

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

env:
  SPRING_PROFILES_ACTIVE: prod,kubernetes

ingress:
  enabled: false

route:
  enabled: true
  host: notificacion.apps.openshift.local
  tls:
    enabled: true
    termination: edge

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
