replicaCount: 2

image:
  repository: ricardoahumada/notificacion-service
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8082

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

kafka:
  bootstrapServers: kafka:9092
  groupId: notificacion-group

env:
  SPRING_PROFILES_ACTIVE: kubernetes

livenessProbe:
  path: /actuator/health/liveness
  initialDelaySeconds: 60
  periodSeconds: 10

readinessProbe:
  path: /actuator/health/readiness
  initialDelaySeconds: 10
  periodSeconds: 5
