server:
  port: 8085

spring:
  application:
    name: beneficio-service-cqrs
  datasource:
    url: jdbc:h2:mem:beneficiodb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.mutualidad: DEBUG
