version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=true
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - jenkins-net

  jenkins-agent:
    image: jenkins/inbound-agent:latest
    container_name: jenkins-agent
    user: root
    depends_on:
      - jenkins
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - agent_workspace:/home/jenkins/agent
    environment:
      - JENKINS_URL=http://jenkins:8080
      - JENKINS_AGENT_NAME=docker-agent
    networks:
      - jenkins-net

volumes:
  jenkins_home:
  agent_workspace:

networks:
  jenkins-net:
    driver: bridge
