server:
  port: 8083

spring:
  application:
    name: notificacion-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.mutualidad: DEBUG
